[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/theartboy/MADlibs.git
[submodule "processingPlatformGame"]
	path = processingPlatformGame
	url = https://github.com/theartboy/processingPlatformGame.git
[submodule "circleCollisionDetection"]
	path = circleCollisionDetection
	url = https://github.com/theartboy/circleCollisionDetection.git
